/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, ::after, ::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Gordita", sans-serif;
  color: var(--text-color);
  background: var(--body-bg);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  border: none;
  outline: none;
  background: transparent;
}

a, img, button, input, textarea, select {
  font-family: inherit;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

.icon {
  filter: var(--icon-color);
}

.row > *, .container-fluid, .container {
  padding-left: calc(var(--grid-gutter-x) * 0.5);
  padding-right: calc(var(--grid-gutter-x) * 0.5);
}

.container-fluid, .container {
  --grid-gutter-x:30px;
  --grid-gutter-y:30px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--grid-gutter-y) * -1);
  margin-left: calc(var(--grid-gutter-x) * 0.5 * -1);
  margin-right: calc(var(--grid-gutter-x) * 0.5 * -1);
}
.row > * {
  margin-top: var(--grid-gutter-y);
}

.col {
  flex: 1 0 auto;
}

.row-cols-1 > * {
  width: 100%;
  flex: 0 0 auto;
}

.row-cols-2 > * {
  width: 50%;
  flex: 0 0 auto;
}

.row-cols-3 > * {
  width: 33.3333333333%;
  flex: 0 0 auto;
}

.row-cols-4 > * {
  width: 25%;
  flex: 0 0 auto;
}

.row-cols-5 > * {
  width: 20%;
  flex: 0 0 auto;
}

.row-cols-6 > * {
  width: 16.6666666667%;
  flex: 0 0 auto;
}

.col-1 {
  width: 8.3333333333%;
  flex: 0 0 auto;
}

.col-2 {
  width: 16.6666666667%;
  flex: 0 0 auto;
}

.col-3 {
  width: 25%;
  flex: 0 0 auto;
}

.col-4 {
  width: 33.3333333333%;
  flex: 0 0 auto;
}

.col-5 {
  width: 41.6666666667%;
  flex: 0 0 auto;
}

.col-6 {
  width: 50%;
  flex: 0 0 auto;
}

.col-7 {
  width: 58.3333333333%;
  flex: 0 0 auto;
}

.col-8 {
  width: 66.6666666667%;
  flex: 0 0 auto;
}

.col-9 {
  width: 75%;
  flex: 0 0 auto;
}

.col-10 {
  width: 83.3333333333%;
  flex: 0 0 auto;
}

.col-11 {
  width: 91.6666666667%;
  flex: 0 0 auto;
}

.col-12 {
  width: 100%;
  flex: 0 0 auto;
}

.offset-0 {
  margin-left: 0;
}

.offset-1 {
  margin-left: 8.3333333333%;
}

.offset-2 {
  margin-left: 16.6666666667%;
}

.offset-3 {
  margin-left: 25%;
}

.offset-4 {
  margin-left: 33.3333333333%;
}

.offset-5 {
  margin-left: 41.6666666667%;
}

.offset-6 {
  margin-left: 50%;
}

.offset-7 {
  margin-left: 58.3333333333%;
}

.offset-8 {
  margin-left: 66.6666666667%;
}

.offset-9 {
  margin-left: 75%;
}

.offset-10 {
  margin-left: 83.3333333333%;
}

.offset-11 {
  margin-left: 91.6666666667%;
}

.gx-0, .g-0 {
  --grid-gutter-x: 0px;
}

.gy-0, .g-0 {
  --grid-gutter-y: 0px;
}

.gx-1, .g-1 {
  --grid-gutter-x: 7.5px;
}

.gy-1, .g-1 {
  --grid-gutter-y: 7.5px;
}

.gx-2, .g-2 {
  --grid-gutter-x: 15px;
}

.gy-2, .g-2 {
  --grid-gutter-y: 15px;
}

.gx-3, .g-3 {
  --grid-gutter-x: 30px;
}

.gy-3, .g-3 {
  --grid-gutter-y: 30px;
}

.gx-4, .g-4 {
  --grid-gutter-x: 45px;
}

.gy-4, .g-4 {
  --grid-gutter-y: 45px;
}

.gx-5, .g-5 {
  --grid-gutter-x: 90px;
}

.gy-5, .g-5 {
  --grid-gutter-y: 90px;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
.row-cols-sm-1 > * {
  width: 100%;
  flex: 0 0 auto;
}

.row-cols-sm-2 > * {
  width: 50%;
  flex: 0 0 auto;
}

.row-cols-sm-3 > * {
  width: 33.3333333333%;
  flex: 0 0 auto;
}

.row-cols-sm-4 > * {
  width: 25%;
  flex: 0 0 auto;
}

.row-cols-sm-5 > * {
  width: 20%;
  flex: 0 0 auto;
}

.row-cols-sm-6 > * {
  width: 16.6666666667%;
  flex: 0 0 auto;
}

.col-sm-1 {
  width: 8.3333333333%;
  flex: 0 0 auto;
}

.col-sm-2 {
  width: 16.6666666667%;
  flex: 0 0 auto;
}

.col-sm-3 {
  width: 25%;
  flex: 0 0 auto;
}

.col-sm-4 {
  width: 33.3333333333%;
  flex: 0 0 auto;
}

.col-sm-5 {
  width: 41.6666666667%;
  flex: 0 0 auto;
}

.col-sm-6 {
  width: 50%;
  flex: 0 0 auto;
}

.col-sm-7 {
  width: 58.3333333333%;
  flex: 0 0 auto;
}

.col-sm-8 {
  width: 66.6666666667%;
  flex: 0 0 auto;
}

.col-sm-9 {
  width: 75%;
  flex: 0 0 auto;
}

.col-sm-10 {
  width: 83.3333333333%;
  flex: 0 0 auto;
}

.col-sm-11 {
  width: 91.6666666667%;
  flex: 0 0 auto;
}

.col-sm-12 {
  width: 100%;
  flex: 0 0 auto;
}

.offset-sm-0 {
  margin-left: 0;
}

.offset-sm-1 {
  margin-left: 8.3333333333%;
}

.offset-sm-2 {
  margin-left: 16.6666666667%;
}

.offset-sm-3 {
  margin-left: 25%;
}

.offset-sm-4 {
  margin-left: 33.3333333333%;
}

.offset-sm-5 {
  margin-left: 41.6666666667%;
}

.offset-sm-6 {
  margin-left: 50%;
}

.offset-sm-7 {
  margin-left: 58.3333333333%;
}

.offset-sm-8 {
  margin-left: 66.6666666667%;
}

.offset-sm-9 {
  margin-left: 75%;
}

.offset-sm-10 {
  margin-left: 83.3333333333%;
}

.offset-sm-11 {
  margin-left: 91.6666666667%;
}

.gx-sm-0, .g-sm-0 {
  --grid-gutter-x: 0px;
}

.gy-sm-0, .g-sm-0 {
  --grid-gutter-y: 0px;
}

.gx-sm-1, .g-sm-1 {
  --grid-gutter-x: 7.5px;
}

.gy-sm-1, .g-sm-1 {
  --grid-gutter-y: 7.5px;
}

.gx-sm-2, .g-sm-2 {
  --grid-gutter-x: 15px;
}

.gy-sm-2, .g-sm-2 {
  --grid-gutter-y: 15px;
}

.gx-sm-3, .g-sm-3 {
  --grid-gutter-x: 30px;
}

.gy-sm-3, .g-sm-3 {
  --grid-gutter-y: 30px;
}

.gx-sm-4, .g-sm-4 {
  --grid-gutter-x: 45px;
}

.gy-sm-4, .g-sm-4 {
  --grid-gutter-y: 45px;
}

.gx-sm-5, .g-sm-5 {
  --grid-gutter-x: 90px;
}

.gy-sm-5, .g-sm-5 {
  --grid-gutter-y: 90px;
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
.row-cols-md-1 > * {
  width: 100%;
  flex: 0 0 auto;
}

.row-cols-md-2 > * {
  width: 50%;
  flex: 0 0 auto;
}

.row-cols-md-3 > * {
  width: 33.3333333333%;
  flex: 0 0 auto;
}

.row-cols-md-4 > * {
  width: 25%;
  flex: 0 0 auto;
}

.row-cols-md-5 > * {
  width: 20%;
  flex: 0 0 auto;
}

.row-cols-md-6 > * {
  width: 16.6666666667%;
  flex: 0 0 auto;
}

.col-md-1 {
  width: 8.3333333333%;
  flex: 0 0 auto;
}

.col-md-2 {
  width: 16.6666666667%;
  flex: 0 0 auto;
}

.col-md-3 {
  width: 25%;
  flex: 0 0 auto;
}

.col-md-4 {
  width: 33.3333333333%;
  flex: 0 0 auto;
}

.col-md-5 {
  width: 41.6666666667%;
  flex: 0 0 auto;
}

.col-md-6 {
  width: 50%;
  flex: 0 0 auto;
}

.col-md-7 {
  width: 58.3333333333%;
  flex: 0 0 auto;
}

.col-md-8 {
  width: 66.6666666667%;
  flex: 0 0 auto;
}

.col-md-9 {
  width: 75%;
  flex: 0 0 auto;
}

.col-md-10 {
  width: 83.3333333333%;
  flex: 0 0 auto;
}

.col-md-11 {
  width: 91.6666666667%;
  flex: 0 0 auto;
}

.col-md-12 {
  width: 100%;
  flex: 0 0 auto;
}

.offset-md-0 {
  margin-left: 0;
}

.offset-md-1 {
  margin-left: 8.3333333333%;
}

.offset-md-2 {
  margin-left: 16.6666666667%;
}

.offset-md-3 {
  margin-left: 25%;
}

.offset-md-4 {
  margin-left: 33.3333333333%;
}

.offset-md-5 {
  margin-left: 41.6666666667%;
}

.offset-md-6 {
  margin-left: 50%;
}

.offset-md-7 {
  margin-left: 58.3333333333%;
}

.offset-md-8 {
  margin-left: 66.6666666667%;
}

.offset-md-9 {
  margin-left: 75%;
}

.offset-md-10 {
  margin-left: 83.3333333333%;
}

.offset-md-11 {
  margin-left: 91.6666666667%;
}

.gx-md-0, .g-md-0 {
  --grid-gutter-x: 0px;
}

.gy-md-0, .g-md-0 {
  --grid-gutter-y: 0px;
}

.gx-md-1, .g-md-1 {
  --grid-gutter-x: 7.5px;
}

.gy-md-1, .g-md-1 {
  --grid-gutter-y: 7.5px;
}

.gx-md-2, .g-md-2 {
  --grid-gutter-x: 15px;
}

.gy-md-2, .g-md-2 {
  --grid-gutter-y: 15px;
}

.gx-md-3, .g-md-3 {
  --grid-gutter-x: 30px;
}

.gy-md-3, .g-md-3 {
  --grid-gutter-y: 30px;
}

.gx-md-4, .g-md-4 {
  --grid-gutter-x: 45px;
}

.gy-md-4, .g-md-4 {
  --grid-gutter-y: 45px;
}

.gx-md-5, .g-md-5 {
  --grid-gutter-x: 90px;
}

.gy-md-5, .g-md-5 {
  --grid-gutter-y: 90px;
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
.row-cols-lg-1 > * {
  width: 100%;
  flex: 0 0 auto;
}

.row-cols-lg-2 > * {
  width: 50%;
  flex: 0 0 auto;
}

.row-cols-lg-3 > * {
  width: 33.3333333333%;
  flex: 0 0 auto;
}

.row-cols-lg-4 > * {
  width: 25%;
  flex: 0 0 auto;
}

.row-cols-lg-5 > * {
  width: 20%;
  flex: 0 0 auto;
}

.row-cols-lg-6 > * {
  width: 16.6666666667%;
  flex: 0 0 auto;
}

.col-lg-1 {
  width: 8.3333333333%;
  flex: 0 0 auto;
}

.col-lg-2 {
  width: 16.6666666667%;
  flex: 0 0 auto;
}

.col-lg-3 {
  width: 25%;
  flex: 0 0 auto;
}

.col-lg-4 {
  width: 33.3333333333%;
  flex: 0 0 auto;
}

.col-lg-5 {
  width: 41.6666666667%;
  flex: 0 0 auto;
}

.col-lg-6 {
  width: 50%;
  flex: 0 0 auto;
}

.col-lg-7 {
  width: 58.3333333333%;
  flex: 0 0 auto;
}

.col-lg-8 {
  width: 66.6666666667%;
  flex: 0 0 auto;
}

.col-lg-9 {
  width: 75%;
  flex: 0 0 auto;
}

.col-lg-10 {
  width: 83.3333333333%;
  flex: 0 0 auto;
}

.col-lg-11 {
  width: 91.6666666667%;
  flex: 0 0 auto;
}

.col-lg-12 {
  width: 100%;
  flex: 0 0 auto;
}

.offset-lg-0 {
  margin-left: 0;
}

.offset-lg-1 {
  margin-left: 8.3333333333%;
}

.offset-lg-2 {
  margin-left: 16.6666666667%;
}

.offset-lg-3 {
  margin-left: 25%;
}

.offset-lg-4 {
  margin-left: 33.3333333333%;
}

.offset-lg-5 {
  margin-left: 41.6666666667%;
}

.offset-lg-6 {
  margin-left: 50%;
}

.offset-lg-7 {
  margin-left: 58.3333333333%;
}

.offset-lg-8 {
  margin-left: 66.6666666667%;
}

.offset-lg-9 {
  margin-left: 75%;
}

.offset-lg-10 {
  margin-left: 83.3333333333%;
}

.offset-lg-11 {
  margin-left: 91.6666666667%;
}

.gx-lg-0, .g-lg-0 {
  --grid-gutter-x: 0px;
}

.gy-lg-0, .g-lg-0 {
  --grid-gutter-y: 0px;
}

.gx-lg-1, .g-lg-1 {
  --grid-gutter-x: 7.5px;
}

.gy-lg-1, .g-lg-1 {
  --grid-gutter-y: 7.5px;
}

.gx-lg-2, .g-lg-2 {
  --grid-gutter-x: 15px;
}

.gy-lg-2, .g-lg-2 {
  --grid-gutter-y: 15px;
}

.gx-lg-3, .g-lg-3 {
  --grid-gutter-x: 30px;
}

.gy-lg-3, .g-lg-3 {
  --grid-gutter-y: 30px;
}

.gx-lg-4, .g-lg-4 {
  --grid-gutter-x: 45px;
}

.gy-lg-4, .g-lg-4 {
  --grid-gutter-y: 45px;
}

.gx-lg-5, .g-lg-5 {
  --grid-gutter-x: 90px;
}

.gy-lg-5, .g-lg-5 {
  --grid-gutter-y: 90px;
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
.row-cols-xl-1 > * {
  width: 100%;
  flex: 0 0 auto;
}

.row-cols-xl-2 > * {
  width: 50%;
  flex: 0 0 auto;
}

.row-cols-xl-3 > * {
  width: 33.3333333333%;
  flex: 0 0 auto;
}

.row-cols-xl-4 > * {
  width: 25%;
  flex: 0 0 auto;
}

.row-cols-xl-5 > * {
  width: 20%;
  flex: 0 0 auto;
}

.row-cols-xl-6 > * {
  width: 16.6666666667%;
  flex: 0 0 auto;
}

.col-xl-1 {
  width: 8.3333333333%;
  flex: 0 0 auto;
}

.col-xl-2 {
  width: 16.6666666667%;
  flex: 0 0 auto;
}

.col-xl-3 {
  width: 25%;
  flex: 0 0 auto;
}

.col-xl-4 {
  width: 33.3333333333%;
  flex: 0 0 auto;
}

.col-xl-5 {
  width: 41.6666666667%;
  flex: 0 0 auto;
}

.col-xl-6 {
  width: 50%;
  flex: 0 0 auto;
}

.col-xl-7 {
  width: 58.3333333333%;
  flex: 0 0 auto;
}

.col-xl-8 {
  width: 66.6666666667%;
  flex: 0 0 auto;
}

.col-xl-9 {
  width: 75%;
  flex: 0 0 auto;
}

.col-xl-10 {
  width: 83.3333333333%;
  flex: 0 0 auto;
}

.col-xl-11 {
  width: 91.6666666667%;
  flex: 0 0 auto;
}

.col-xl-12 {
  width: 100%;
  flex: 0 0 auto;
}

.offset-xl-0 {
  margin-left: 0;
}

.offset-xl-1 {
  margin-left: 8.3333333333%;
}

.offset-xl-2 {
  margin-left: 16.6666666667%;
}

.offset-xl-3 {
  margin-left: 25%;
}

.offset-xl-4 {
  margin-left: 33.3333333333%;
}

.offset-xl-5 {
  margin-left: 41.6666666667%;
}

.offset-xl-6 {
  margin-left: 50%;
}

.offset-xl-7 {
  margin-left: 58.3333333333%;
}

.offset-xl-8 {
  margin-left: 66.6666666667%;
}

.offset-xl-9 {
  margin-left: 75%;
}

.offset-xl-10 {
  margin-left: 83.3333333333%;
}

.offset-xl-11 {
  margin-left: 91.6666666667%;
}

.gx-xl-0, .g-xl-0 {
  --grid-gutter-x: 0px;
}

.gy-xl-0, .g-xl-0 {
  --grid-gutter-y: 0px;
}

.gx-xl-1, .g-xl-1 {
  --grid-gutter-x: 7.5px;
}

.gy-xl-1, .g-xl-1 {
  --grid-gutter-y: 7.5px;
}

.gx-xl-2, .g-xl-2 {
  --grid-gutter-x: 15px;
}

.gy-xl-2, .g-xl-2 {
  --grid-gutter-y: 15px;
}

.gx-xl-3, .g-xl-3 {
  --grid-gutter-x: 30px;
}

.gy-xl-3, .g-xl-3 {
  --grid-gutter-y: 30px;
}

.gx-xl-4, .g-xl-4 {
  --grid-gutter-x: 45px;
}

.gy-xl-4, .g-xl-4 {
  --grid-gutter-y: 45px;
}

.gx-xl-5, .g-xl-5 {
  --grid-gutter-x: 90px;
}

.gy-xl-5, .g-xl-5 {
  --grid-gutter-y: 90px;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1370px;
  }
}
.row-cols-xxl-1 > * {
  width: 100%;
  flex: 0 0 auto;
}

.row-cols-xxl-2 > * {
  width: 50%;
  flex: 0 0 auto;
}

.row-cols-xxl-3 > * {
  width: 33.3333333333%;
  flex: 0 0 auto;
}

.row-cols-xxl-4 > * {
  width: 25%;
  flex: 0 0 auto;
}

.row-cols-xxl-5 > * {
  width: 20%;
  flex: 0 0 auto;
}

.row-cols-xxl-6 > * {
  width: 16.6666666667%;
  flex: 0 0 auto;
}

.col-xxl-1 {
  width: 8.3333333333%;
  flex: 0 0 auto;
}

.col-xxl-2 {
  width: 16.6666666667%;
  flex: 0 0 auto;
}

.col-xxl-3 {
  width: 25%;
  flex: 0 0 auto;
}

.col-xxl-4 {
  width: 33.3333333333%;
  flex: 0 0 auto;
}

.col-xxl-5 {
  width: 41.6666666667%;
  flex: 0 0 auto;
}

.col-xxl-6 {
  width: 50%;
  flex: 0 0 auto;
}

.col-xxl-7 {
  width: 58.3333333333%;
  flex: 0 0 auto;
}

.col-xxl-8 {
  width: 66.6666666667%;
  flex: 0 0 auto;
}

.col-xxl-9 {
  width: 75%;
  flex: 0 0 auto;
}

.col-xxl-10 {
  width: 83.3333333333%;
  flex: 0 0 auto;
}

.col-xxl-11 {
  width: 91.6666666667%;
  flex: 0 0 auto;
}

.col-xxl-12 {
  width: 100%;
  flex: 0 0 auto;
}

.offset-xxl-0 {
  margin-left: 0;
}

.offset-xxl-1 {
  margin-left: 8.3333333333%;
}

.offset-xxl-2 {
  margin-left: 16.6666666667%;
}

.offset-xxl-3 {
  margin-left: 25%;
}

.offset-xxl-4 {
  margin-left: 33.3333333333%;
}

.offset-xxl-5 {
  margin-left: 41.6666666667%;
}

.offset-xxl-6 {
  margin-left: 50%;
}

.offset-xxl-7 {
  margin-left: 58.3333333333%;
}

.offset-xxl-8 {
  margin-left: 66.6666666667%;
}

.offset-xxl-9 {
  margin-left: 75%;
}

.offset-xxl-10 {
  margin-left: 83.3333333333%;
}

.offset-xxl-11 {
  margin-left: 91.6666666667%;
}

.gx-xxl-0, .g-xxl-0 {
  --grid-gutter-x: 0px;
}

.gy-xxl-0, .g-xxl-0 {
  --grid-gutter-y: 0px;
}

.gx-xxl-1, .g-xxl-1 {
  --grid-gutter-x: 7.5px;
}

.gy-xxl-1, .g-xxl-1 {
  --grid-gutter-y: 7.5px;
}

.gx-xxl-2, .g-xxl-2 {
  --grid-gutter-x: 15px;
}

.gy-xxl-2, .g-xxl-2 {
  --grid-gutter-y: 15px;
}

.gx-xxl-3, .g-xxl-3 {
  --grid-gutter-x: 30px;
}

.gy-xxl-3, .g-xxl-3 {
  --grid-gutter-y: 30px;
}

.gx-xxl-4, .g-xxl-4 {
  --grid-gutter-x: 45px;
}

.gy-xxl-4, .g-xxl-4 {
  --grid-gutter-y: 45px;
}

.gx-xxl-5, .g-xxl-5 {
  --grid-gutter-x: 90px;
}

.gy-xxl-5, .g-xxl-5 {
  --grid-gutter-y: 90px;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-grid {
  display: grid !important;
}

.d-none {
  display: none !important;
}

@media (max-width: 1399.98px) {
  .d-xxl-block {
    display: block !important;
  }
  .d-xxl-flex {
    display: flex !important;
  }
  .d-xxl-grid {
    display: grid !important;
  }
  .d-xxl-none {
    display: none !important;
  }
}
@media (max-width: 1199.98px) {
  .d-xl-block {
    display: block !important;
  }
  .d-xl-flex {
    display: flex !important;
  }
  .d-xl-grid {
    display: grid !important;
  }
  .d-xl-none {
    display: none !important;
  }
}
@media (max-width: 991.98px) {
  .d-lg-block {
    display: block !important;
  }
  .d-lg-flex {
    display: flex !important;
  }
  .d-lg-grid {
    display: grid !important;
  }
  .d-lg-none {
    display: none !important;
  }
}
@media (max-width: 767.98px) {
  .d-md-block {
    display: block !important;
  }
  .d-md-flex {
    display: flex !important;
  }
  .d-md-grid {
    display: grid !important;
  }
  .d-md-none {
    display: none !important;
  }
}
@media (max-width: 575.98px) {
  .d-sm-block {
    display: block !important;
  }
  .d-sm-flex {
    display: flex !important;
  }
  .d-sm-grid {
    display: grid !important;
  }
  .d-sm-none {
    display: none !important;
  }
}
html.dark {
  --text-color: #fff;
  --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(26%) hue-rotate(83deg) brightness(106%) contrast(100%);
  --header-bg-color:#171C28;
  --top-act-group-bg-color:#292E39;
  --top-act-group-shadow-group:rgba(0, 0, 0, 0.20);
  --top-act-group-shadow-avatar:rgba(0, 0, 0, 0.08);
  --top-act-group-separate: #EDEDF6;
  --body-bg:#292E39;
  --dropdown-bg:#2f3441;
  --dropdown-shadow:rgba(23, 28, 40, 0.40);
  --dropdown-arrow-color: brightness(0) saturate(100%) invert(17%) sepia(21%) saturate(561%) hue-rotate(186deg) brightness(96%) contrast(90%);
  --menu-column-icon-color: brightness(0) saturate(100%) invert(99%) sepia(91%) saturate(48%) hue-rotate(201deg) brightness(115%) contrast(95%);
  --sidebar-bg:#292E39;
  --sidebar-shadow:0px 40px 90px 20px rgba(23, 28, 40, 0.40);
}
@media (max-width: 991.98px) {
  html.dark {
    --header-shadow-color:rgba(0, 0, 0, 0.20);
  }
}

html {
  --text-color: #1a162e;
  --icon-color: brightness(0) saturate(100%) invert(9%) sepia(10%) saturate(3983%) hue-rotate(211deg) brightness(88%) contrast(96%);
  --header-bg-color:#EEE;
  --top-act-group-bg-color:#FFF;
  --top-act-group-shadow-group:rgba(237, 237, 246, 0.20);
  --top-act-group-shadow-avatar:rgba(0, 0, 0, 0.08);
  --top-act-group-separate: #EDEDF6;
  --body-bg:#F6F6F6;
  --dropdown-bg:#FFF;
  --dropdown-shadow:rgba(200, 200, 200, 0.40);
  --top-menu-border-color: #D2D1D6;
  --sidebar-bg:#FFF;
  --sidebar-shadow: 0px 40px 90px 20px rgba(200, 200, 200, 0.40);
}
@media (max-width: 991.98px) {
  html {
    --header-bg-color:#FFF;
    --header-shadow-color:rgba(237, 237, 246, 0.20);
  }
}

.top-act__btn, .top-act__group, .top-act, .navbar__link, .navbar__list, .top-bar {
  display: flex;
  align-items: center;
}

.header {
  background: var(--header-bg-color);
}
@media (max-width: 991.98px) {
  .header {
    box-shadow: 0px 20px 60px 10px var(--header-shadow-color);
  }
}

.top-bar {
  position: relative;
  padding: 30px 0;
}
@media (max-width: 767.98px) {
  .top-bar {
    padding: 16px 0;
    justify-content: space-between;
  }
}
@media (max-width: 991.98px) {
  .top-bar {
    padding: 20px 0;
  }
}

.navbar {
  margin-left: 129px;
}
@media (max-width: 1199.98px) {
  .navbar {
    margin-left: 28px;
  }
}
@media (max-width: 991.98px) {
  .navbar {
    position: fixed;
    inset: 0 50% 0 0;
    background: var(--sidebar-bg);
    margin-left: 0;
    z-index: 9;
    transform: translateX(-100%);
    transition: 0.5s ease;
    border-radius: 0px 20px 20px 0px;
  }
  .navbar.show {
    transform: translateX(0);
    box-shadow: var(--sidebar-shadow);
  }
  .navbar.show ~ .navbar__overlay {
    visibility: visible;
    opacity: 1;
  }
}
@media (max-width: 575.98px) {
  .navbar {
    inset: 0 20% 0 0;
  }
}
.navbar__close-btn {
  display: none;
}
@media (max-width: 991.98px) {
  .navbar__close-btn {
    display: block;
    padding: 10px 40px;
  }
}
@media (max-width: 575.98px) {
  .navbar__close-btn {
    padding: 10px 20px;
  }
}
.navbar__overlay {
  visibility: hidden;
  opacity: 0;
  transition: 0.5s ease;
}
@media (max-width: 991.98px) {
  .navbar__overlay {
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    inset: 0;
    z-index: 8;
    transition: 0.5s ease;
  }
}
@media (max-width: 991.98px) {
  .navbar__list {
    flex-direction: column;
    align-items: flex-start;
    overflow: auto;
    height: calc(100% - 150px);
    overscroll-behavior: contain;
  }
}
@media (max-width: 575.98px) {
  .navbar__list {
    height: calc(100% - 225px);
  }
}
.navbar__link {
  height: 50px;
  gap: 6px;
  padding: 0 15px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.46; /* 146.667% */
}
@media (max-width: 991.98px) {
  .navbar__link {
    padding: 0 40px;
    font-size: 1.6rem;
    line-height: 1.5; /* 150% */
    justify-content: space-between;
  }
}
@media (max-width: 575.98px) {
  .navbar__link {
    padding: 0 20px;
    height: 44px;
  }
}
.navbar__arrow {
  margin-top: 3px;
}
@media (max-width: 991.98px) {
  .navbar__arrow {
    rotate: -90deg;
    transition: 0.3s ease;
  }
}
.navbar__item:hover .dropdown {
  display: block;
}
@media (max-width: 991.98px) {
  .navbar__item {
    width: 100%;
  }
  .navbar__item:hover .dropdown {
    display: none;
  }
  .navbar__item--active .dropdown {
    display: block !important;
  }
}
.navbar__item--active .navbar__arrow {
  rotate: 0deg;
}

.top-act {
  margin-left: auto;
  gap: 20px;
}
@media (max-width: 767.98px) {
  .top-act {
    margin-left: unset;
  }
}
.top-act__avatar {
  display: block;
  width: 50px;
  height: 50px;
  border-radius: 8px;
  object-fit: cover;
  cursor: pointer;
  box-shadow: 0px 4px 14px 2px var(--top-act-group-shadow-avatar);
}
.top-act__group {
  min-width: 50px;
  height: 50px;
  border-radius: 8px;
  background: var(--top-act-group-bg-color);
  box-shadow: 0px 20px 60px 10px var(--top-act-group-shadow-group);
}
@media (max-width: 991.98px) {
  .top-act__group--single {
    display: none;
  }
}
.top-act__group--single .top-act__btn {
  padding: 13px;
}
.top-act__btn {
  padding: 13px 20px;
  gap: 10px;
  cursor: pointer;
}
.top-act__title {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.46; /* 146.667% */
}
.top-act__separate {
  width: 1px;
  height: 30px;
  background: var(--top-act-group-separate);
}

.nav-btn {
  height: 50px;
  padding: 0 40px;
  align-items: center;
}
.nav-btn__title, .nav-btn__qnt {
  margin-left: 16px;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.46; /* 146.667% */
}
.nav-btn__qnt {
  margin-left: auto;
}
@media (max-width: 575.98px) {
  .nav-btn {
    padding: 0 20px;
    height: 44px;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 14px;
}
@media (max-width: 991.98px) {
  .logo {
    gap: 10px;
    margin-left: 40px;
  }
}
@media (max-width: 767.98px) {
  .logo {
    margin-left: 0;
  }
}
.logo__title {
  font-size: 2.2rem;
  font-weight: 700;
  line-height: 1.45; /* 145.455% */
}
@media (max-width: 991.98px) {
  .logo__title {
    font-size: 1.8rem;
  }
}
@media (max-width: 991.98px) {
  .logo__img {
    width: 24px;
  }
}

.dropdown {
  position: absolute;
  left: 0;
  padding-top: 54px;
  width: min(1240px, 100%);
  display: none;
}
@media (max-width: 991.98px) {
  .dropdown {
    position: initial;
    padding-top: 0;
  }
}
.dropdown__inner {
  --inner-padding:30px;
  position: relative;
  padding: var(--inner-padding);
  border-radius: 20px;
  background: var(--dropdown-bg);
  box-shadow: 0px 40px 90px 20px var(--dropdown-shadow);
}
.dropdown__inner::before {
  content: url("../icons/dropdown_arrow.svg");
  position: absolute;
  top: -13px;
  left: var(--arrow-left-pos);
  transform: translateX(-50%);
  filter: var(--dropdown-arrow-color);
}
@media (max-width: 991.98px) {
  .dropdown__inner {
    border-radius: 0;
    background: transparent;
    box-shadow: none;
    padding: 0 40px;
  }
  .dropdown__inner::before {
    content: none;
  }
}
@media (max-width: 575.98px) {
  .dropdown__inner {
    padding: 0 20px;
  }
}

.top-menu {
  --main-column-width:292px;
  --max-inner-height: calc(min(582px,100vh - 158px) - var(--inner-padding)*2);
  position: relative;
}
.top-menu__main {
  overflow: auto;
  width: var(--main-column-width);
  height: var(--max-inner-height);
  border-right: 1px solid var(--top-menu-border-color);
}
@media (max-width: 991.98px) {
  .top-menu__main {
    width: 100%;
    height: auto;
    border-right: none;
  }
}

.menu-column {
  display: flex;
  gap: 14px;
}
.menu-column .menu-column + .menu-column {
  margin-top: 22px;
}
@media (max-width: 991.98px) {
  .menu-column {
    margin-top: 10px;
  }
}
.menu-column__icon {
  position: relative;
  flex-shrink: 0;
  width: 36px;
  height: 36px;
}
@media (max-width: 1199.98px) {
  .menu-column__icon {
    display: none;
  }
}
@media (max-width: 991.98px) {
  .menu-column__icon {
    display: block;
  }
}
.menu-column__content {
  flex: 1;
}
.menu-column__icon-1 {
  width: 30px;
  height: 30px;
  object-fit: contain;
}
.menu-column__icon-2 {
  position: absolute;
  right: 0px;
  bottom: 0;
  width: 24px;
  height: 24px;
  object-fit: contain;
  filter: var(--menu-column-icon-color);
}
.menu-column__heading {
  font-size: 1.6rem;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  margin-bottom: 19px;
  margin-top: 4px;
}
@media (max-width: 991.98px) {
  .menu-column__heading {
    margin-bottom: 26px;
  }
}
.menu-column__item--active .sub-menu {
  display: grid;
}
.menu-column__item--active > .menu-column__link, .menu-column__item:hover > .menu-column__link {
  color: #0071DC;
  font-weight: 500;
}
.menu-column__link {
  display: block;
  padding: 7px 0;
  font-size: 1.4rem;
  line-height: 1.42; /* 142.857% */
}

.sub-menu {
  padding-left: var(--inner-padding);
  position: absolute;
  inset: 0 0 0 var(--main-column-width);
  display: none;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--inner-padding);
  overflow: auto;
}
.sub-menu--not-main {
  display: grid;
  position: initial;
  inset: initial;
  grid-template-columns: repeat(4, 1fr);
  height: var(--max-inner-height);
  padding-left: 0;
}
@media (max-width: 991.98px) {
  .sub-menu--not-main {
    grid-template-columns: 1fr;
    height: auto;
  }
}
@media (max-width: 991.98px) {
  .sub-menu {
    position: initial;
    grid-template-columns: 1fr;
    padding-left: 0;
  }
}

/*# sourceMappingURL=main.css.map */
