@use "../abstracts";
html.dark{
    --text-color: #fff;
    --icon-color: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(26%) hue-rotate(83deg) brightness(106%) contrast(100%);
    --header-bg-color:#171C28;
    --footer-text-color:#abaab3;
    --top-act-group-bg-color:#292E39;
    --top-act-group-shadow-group:rgba(0, 0, 0, 0.20);
    --top-act-group-shadow-avatar:rgba(0, 0, 0, 0.08);
    --top-act-group-separate: #EDEDF6;
    --body-bg:#292E39;
    @include abstracts.screen(lg){
        --header-shadow-color:rgba(0, 0, 0, 0.20);
    }

    // header
    --header-act-dropdown-bg:#2f3441;
    --header-act-dropdown-shadow:rgba(23, 28, 40, 0.40);
    --header-act-dropdown-border-color:#171C28;

    // dropdown
    --dropdown-bg:#2f3441;
    --dropdown-shadow:rgba(23, 28, 40, 0.40);
    --dropdown-arrow-color: brightness(0) saturate(100%) invert(17%) sepia(21%) saturate(561%) hue-rotate(186deg) brightness(96%) contrast(90%);
    --menu-column-icon-color: brightness(0) saturate(100%) invert(99%) sepia(91%) saturate(48%) hue-rotate(201deg) brightness(115%) contrast(95%);
    // sidebar
    --sidebar-bg:#292E39;
    --sidebar-shadow:0px 40px 90px 20px rgba(23, 28, 40, 0.40);
    // cate
    --cate-item-bg:#171C28;
    --cate-item-thumb-bg:#292E39;
    --cate-item-title-color:#FFF;
    // product
    --filter-btn-bg:#171C28;
    --filter-btn-color:#fff;
    --product-card-bg:#171C28;
    --product-card-shadow:rgba(0, 0, 0, 0.20);

    // filter-form
    --filter-form-bg:var(--dropdown-bg);
    --form-tag-bg:#171C28;
    --filter-form-shadow:rgba(0, 0, 0, 0.40);
    --filter-form-arrow:var(--dropdown-arrow-color);

    // auth
    --auth-content-bg:#292E39;
    --auth-intro-bg:#171C28;
    --auth-intro-text-color:#B9BABE;
    --auth-heading-color:#B9BABE;
     
    @include abstracts.screen(md){
        --auth-intro-bg:#171C28;
    }
    // form
    --form-placeholder-color:#B9BABE;
    --form-select-dialog-shadow:rgba($color: #fff, $alpha: 0.15);
    --form-select-dialog-bg: #2f3441;
    --form-option-hover-bg: #292e39;

    // product-detail
    --product-detail-bg:#292E39;
    --product-detail-info-bg:#171C28;
    --product-detail-info-content-bg:transparent;
    --product-detail-tag-bg:#292E39;
    @include abstracts.screen(md){
        --product-detail-bg:#292E39;
        --product-detail-info-content-bg:#171C28;
        --product-detail-info-bg:transparent;
    }

    // breadcrumbs

    --breadcrumbs-bg:#171C28;
    --breadcrumbs-shadow: rgba(23, 28, 40, 0.20);

    @include abstracts.screen(md){
        --breadcrumbs-bg:#171C28;
    }

    // search-bar
    --search-bar-bg:#171C28;

    // review
    --review-card-bg:#171C28;

    // text content
    --text-content-hr-bg: #565a64;

    // checkout
    --checkout-breadcrumbs:#171C28;
    --checkout-cart-info-bg:#171C28;
    --checkout-cart-info-shadow:rgba(23, 28, 40, 0.20);
    --checkout-boder-color:#292e39;
    --checkout-gift-shadow:rgba(23, 28, 40, 0.20);
    --checkout-payment-item-bg:#292E39;

    // dialog
    --dialog-bg:#2f3441;
    --dialog-shadow:rgba(23, 28, 40, 0.40);

    // profile
    --profile-sidebar-bg:#171C28;
    --profile-sidebar-shadow: rgba(23, 28, 40, 0.20);
    --profile-sidebar-link-hover:#2f3441;

    // account
    --account-info-bg:#292E39;
    --account-info-icon-bg:#171C28;

    // separate
    --separate-color:#292E39;
}