@use "../abstracts";
html{
    --text-color: #1a162e;
    --icon-color: brightness(0) saturate(100%) invert(9%) sepia(10%) saturate(3983%) hue-rotate(211deg) brightness(88%) contrast(96%);
    --header-bg-color:#EEE;
    --footer-bg-color:var(--header-bg-color);

    --top-act-group-bg-color:#FFF;
    --top-act-group-shadow-group:rgba(237, 237, 246, 0.20);
    --top-act-group-shadow-avatar:rgba(0, 0, 0, 0.08);
    --top-act-group-separate: #EDEDF6;
    --body-bg:#F6F6F6;
    @include abstracts.screen(lg){
        --header-bg-color:#FFF;
        --header-shadow-color:rgba(237, 237, 246, 0.20);
    }
    // dropdown
    --dropdown-bg:#FFF;
    --dropdown-shadow:rgba(200, 200, 200, 0.40);
    --top-menu-border-color : #D2D1D6;
    // sidebar
    --sidebar-bg:#FFF;
    --sidebar-shadow: 0px 40px 90px 20px rgba(200, 200, 200, 0.40);

    // cate-item
    --cate-item-bg:#eee;
    --cate-item-thumb-bg:#FFF;
    --cate-item-title-color:#000;
    @include abstracts.screen(md){
        --cate-item-bg:#FFF;
    }
    // product
    --filter-btn-color:#6C6C72;
    --filter-btn-bg:#fff;
    --product-card-bg:#FFF;
    --product-card-shadow:rgba(237, 237, 246, 0.20);
    // filter
    --filter-form-bg:#FFF;
    --filter-form-shadow:rgba(200, 200, 200, 0.40);
    --filter-form-tag-bg:#F8F8FB;

    // auth
    --auth-content-bg:#FFF;
}