<div class="container">
    <div class="footer__inner">
        <div class="footer__row">
            <div class="footer__col">
                
                    <a href="./" class="logo footer__logo">
                        <img src="./assets/icons/logo.svg" alt="grocerymart" class="logo__img">
                        <h1 class="logo__title">grocerymart</h1>
                    </a>
                <p class="footer__desc">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt ab illo a iusto, nisi tenetur
                    mollitia cumque blanditiis.
                </p>
                <p class="footer__help-text">Receive product news and updates.</p>
                <form action="" class="footer__form">
                    <input type="text" class="footer__input" placeholder="Email Address">
                    <button class="btn btn--primary">Send</button>
                </form>
            </div>
            <!-- footer column 2 -->
            <div class="footer__col">
                <h3 class="footer__heading">Shop</h3>
                <ul class="footer__lisst">
                    <li>
                        <a href="#!" class="footer__link">All Departments</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Fashion Deals</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Electronics Discounts</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Home & Living Specials</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Beauty Bargains</a>
                    </li>
                </ul>
            </div>
            <!-- footer coulmn 3 -->
            <div class="footer__col">
                <h3 class="footer__heading">Support</h3>
                <ul class="footer__lisst">
                    <li>
                        <a href="#!" class="footer__link">Store locator</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Order status</a>
                    </li>
                </ul>
            </div>
            <!-- footer coulmn 4 -->
            <div class="footer__col">
                <h3 class="footer__heading">Company</h3>
                <ul class="footer__lisst">
                    <li>
                        <a href="#!" class="footer__link">Customer service</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Terms of use</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Privacy</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Careers</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">About</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Affiliates</a>
                    </li>
                </ul>
            </div>
            <!-- footer coulmn 5 -->
            <div class="footer__col">
                <h3 class="footer__heading">Contact</h3>
                <ul class="footer__lisst">
                    <li>
                        <p class="footer__label">Email</p>
                        <a href="mailto:contact@grocerymart.com" class="footer__link">contact@grocerymart.com</a>
                    </li>
                    <li>
                        <p class="footer__label">Hotline</p>
                        <a href="tel:18003698" class="footer__link">18003698</a>
                    </li>
                    <li>
                        <p class="footer__label">Address</p>
                        <p class="footer__text">1 Alley 41 Tran Duy Hung, Trung Hoa, Cau Giay, Hanoi 11313</p>
                    </li>
                    <li>
                        <p class="footer__label">Hours</p>
                        <p class="footer__text">M - F 08:00AM - 06:00PM</p>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">About</a>
                    </li>
                    <li>
                        <a href="#!" class="footer__link">Affiliates</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="footer__bottom">
            <p class="footer__copyright">© 2010 - 2025 Grocery Mart.All rights reserved.</p>
            <div class="footer__socials">
                <a href="#!" class="footer__socials-link footer__socials-link--facebook">
                    <img src="./assets/icons/facebook.svg" alt="" class="footer__social-icon">
                </a>
                <a href="#!" class="footer__socials-link footer__socials-link--youtube">
                    <img src="./assets/icons/youtube.svg" alt="" class="footer__social-icon">
                </a>
                <a href="#!" class="footer__socials-link footer__socials-link--tiktok">
                    <img src="./assets/icons/tiktok.svg" alt="" class="footer__social-icon">
                </a>
                <a href="#!" class="footer__socials-link footer__socials-link--twitter">
                    <img src="./assets/icons/twitter.svg" alt="" class="footer__social-icon">
                </a>
                <a href="#!" class="footer__socials-link footer__socials-link--linkedin">
                    <img src="./assets/icons/linkedin.svg" alt="" class="footer__social-icon">
                </a>
            </div>
        </div>
    </div>
</div>